




.prepare-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}

.navigationBar
{
  font-size: 20;
  /*margin: 0 10 10 0;*/
  padding: 0 20 0 0;
  /*border-width: 3px;*/
  /*border-radius: 1px;*/
}




