<!-- <ActionBar title="gp" class="action-bar"></ActionBar> -->

<ActionBar android:title="gp">
<!--     <ActionItem text="left item" ios.position="left"></ActionItem>
    <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
    <ActionItem>
        <Label class="m-5" text="Custom item" color="#8C489F"></Label>
    </ActionItem>
    <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem> -->
    <!-- <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="prepare()"></NavigationButton> -->
    <ActionItem>
    	<Label text="resume" class="navigationBar" (tap)="goToEditor()"></Label>
    </ActionItem>
    <ActionItem>
    	<Label text="prepare" class="navigationBar" (tap)="prepare()"></Label>
    </ActionItem>
</ActionBar>

<ScrollView orientation="vertical">
<StackLayout>
<!-- 	<Button text="prepare" (tap)="prepare()" class="prepare-button"></Button>
	<Button text=">>" (tap)="goToEditor()" class="editor-button"></Button>
	 -->
	 <WrapLayout>
	 <Label textWrap="true" text="the deal: paste text below and press prepare. Tap a word to make it red or to remove all formatting, hold a word to bring up an input to add text."></Label>
	</WrapLayout>
	<TextView id="prepText" [(ngModel)]="textToPrepare">
	</TextView>

	<!-- <Button text="prepare" (tap)="prepare()" class="prepare-button" [nsRouterLink]=></Button> -->

	<!-- <Label [text]="testText"></Label> -->
	<!-- <Label text="hi"></Label> -->

</StackLayout>
</ScrollView>


