<!-- <StackLayout> --> 
<!-- 	<Label text="test1"></Label>
	<HtmlView><Label text="test"></Label></HtmlView> -->
<ActionBar android:title="gp">
<!--     <ActionItem text="left item" ios.position="left"></ActionItem>
    <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
    <ActionItem>
        <Label class="m-5" text="Custom item" color="#8C489F"></Label>
    </ActionItem>
    <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem> -->
    <!-- <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="prepare()"></NavigationButton> -->


<!--     <ActionItem>
    	<Label text="<<" (tap)="goBack()" android.position="actionBar"></Label>
    </ActionItem> -->

    <NavigationButton android.systemIcon="ic_menu_back" text="<<" (tap)="goBack()"></NavigationButton>
	<ActionItem>
    	<Label class="navigationBar" text="show more" (tap)="increaseLimit()"></Label>
    </ActionItem>
    <ActionItem>
    	<Label class="navigationBar" text="get bb" (tap)="getBB()"></Label>
    </ActionItem>
</ActionBar>

<!-- <ScrollView>
<WrapLayout>
	<WrapLayout *ngFor="let word of displayArray; let i = index">
		
		<Label class="mainText" style.whiteSpace="normal" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" *ngIf="i <= showLimit"></Label> 
		<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add here"></TextField>
		<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>

	</WrapLayout>
</WrapLayout>
</ScrollView> -->

<ListView [items]="displayArray" class="list-group">
    <ng-template let-word="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout class="list-group-item">
            <!-- <Label class="mainText" style.whiteSpace="normal" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" *ngIf="i <= showLimit"></Label>  -->
            <StackLayout>
            <Label class="mainText" style.whiteSpace="normal" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)"></Label> 
			<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add here"></TextField>
			<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>
			</StackLayout>
        </GridLayout>
    </ng-template>
</ListView> 

<!-- <GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="testArr">
        <ng-template tkListItemTemplate let-word="item">
            <StackLayout orientation="vertical">
                <Label [text]="word.text"></Label>
                
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
 -->
<!-- <GridLayout class="page" rows="*, *">
  <GridView row="0" [items]="displayArray" colWidth="30%" rowHeight="100" orientation="vertical">
    <ng-template let-word="item" let-i="index">
      <StackLayout margin="10" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch" class="list-group-item">
        <Label verticalAlignment="center" class="mainText list-group-item-text" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" textWrap="true"></Label>
      </StackLayout>
    </ng-template>
  </GridView>
</GridLayout> -->

<!--
<ListView [items]="displayArray" class="list-group">
    <ng-template let-word="item" let-i="index" let-odd="odd" let-even="even">
       		<GridLayout class="list-group-item">
            <Label class="mainText" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)"></Label>
            <TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add here"></TextField>
			<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>
        </GridLayout>
    </ng-template>
</ListView>
</WrapLayout> -->
<!-- </WrapLayout> -->



<!-- </ScrollView> -->
<!-- </StackLayout> -->

