<!-- <StackLayout> --> 
<!-- 	<Label text="test1"></Label>
	<HtmlView><Label text="test"></Label></HtmlView> -->
<ActionBar android:title="gp">
<!--     <ActionItem text="left item" ios.position="left"></ActionItem>
    <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
    <ActionItem>
        <Label class="m-5" text="Custom item" color="#8C489F"></Label>
    </ActionItem>
    <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem> -->
    <!-- <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="prepare()"></NavigationButton> -->


<!--     <ActionItem>
    	<Label text="<<" (tap)="goBack()" android.position="actionBar"></Label>
    </ActionItem> -->

    <NavigationButton android.systemIcon="ic_menu_back" text="<<" (tap)="goBack()"></NavigationButton>

    <ActionItem>
    	<Label class="navigationBar" text="get bb" (tap)="getBB()"></Label>
    </ActionItem>
</ActionBar>

<ScrollView>
<WrapLayout>

	

	<WrapLayout *ngFor="let word of displayArray; let i = index">
		
		<!-- <HtmlView [html]="word" (tap)="processWord(i)" (swipe)="processSwipe(i)"></HtmlView> -->

		<Label class="mainText" style.whiteSpace="normal" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)"></Label> 
		<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add here"></TextField>
		<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>
		<!-- <TextField hint="test"></TextField> -->
	</WrapLayout>

<!-- <TextField id="test" hint="test" (returnPress)="onReturn(0)"></TextField> -->

</WrapLayout>
</ScrollView>
<!-- <Button text="<<" (tap)="back()"></Button> -->
<!-- </StackLayout> -->

