<!-- <StackLayout> --> 
<!-- 	<Label text="test1"></Label>
	<HtmlView><Label text="test"></Label></HtmlView> -->
<ActionBar android:title="gp">
<!--     <ActionItem text="left item" ios.position="left"></ActionItem>
    <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
    <ActionItem>
        <Label class="m-5" text="Custom item" color="#8C489F"></Label>
    </ActionItem>
    <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem> -->
    <!-- <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="prepare()"></NavigationButton> -->


<!--     <ActionItem>
    	<Label text="<<" (tap)="goBack()" android.position="actionBar"></Label>
    </ActionItem> -->

    <NavigationButton android.systemIcon="ic_menu_back" text="<<" (tap)="goBack()"></NavigationButton>
	<ActionItem>
    	<Label class="navigationBar" text="show more" (tap)="increaseLimit()"></Label>
    </ActionItem>
    <ActionItem>
    	<Label class="navigationBar" text="get bb" (tap)="getBB()"></Label>
    </ActionItem>
</ActionBar>

<!-- <ScrollView>
<WrapLayout>
	<WrapLayout *ngFor="let word of displayArray; let i = index">
		
	<StackLayout>
		<Label class="mainText" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" *ngIf="i <= showLimit"></Label>
		
		<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add text text or comment here"></TextField>
		<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>
	</StackLayout>

	</WrapLayout>
</WrapLayout>
</ScrollView> -->


<!-- @@@@@@@@@@@@@@@ orig 
<ListView [items]="displayArray" class="list-group">
    <ng-template let-word="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout class="list-group-item">
            <Label class="mainText" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" *ngIf="i <= showLimit"></Label>  
            <StackLayout>
            <Label class="mainText" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)"></Label> 
			<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add text here"></TextField>
			<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>
			</StackLayout>
        </GridLayout>
    </ng-template>
</ListView> 
 -->

 <ListView [items]="testArr" class="list-group">
    <ng-template let-word="item" let-i="index" let-odd="odd" let-even="even">
    	<!-- <ListView [items]="word">
    		<ng-template let-w="item"> -->
        <!-- <WrapLayout class="list-group-item"> -->
            
        	<!-- <GridLayout> -->
        		<AbsoluteLayout>
            <StackLayout left=0>
            <Label class="mainText" [text]="word.one" [color]="getCol(i, 'one')" (tap)="processWord(i, 'one')" (longPress)="processSwipe(i, 'one')"></Label>
			<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="showInputs(i, 'one')" [text]="inputText" (returnPress)="onReturn(i, 'one')" hint="add text here"></TextField>
			<Button text="c" (tap)="insertComment(i, 'one')" *ngIf="showInputs(i, 'one')"></Button>
			</StackLayout>
		
            <StackLayout left=130>
            <Label class="mainText" [text]="word.two" [color]="getCol(i, 'two')" (tap)="processWord(i, 'two')" (longPress)="processSwipe(i, 'two')"></Label>
			<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="showInputs(i, 'two')" [text]="inputText" (returnPress)="onReturn(i, 'two')" hint="add text here"></TextField>
			<Button text="c" (tap)="insertComment(i, 'two')" *ngIf="showInputs(i, 'two')"></Button>
			</StackLayout>

            <StackLayout left=260>
            <Label class="mainText" [text]="word.three" [color]="getCol(i, 'three')" (tap)="processWord(i, 'three')" (longPress)="processSwipe(i, 'three')"></Label>
			<TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="showInputs(i, 'three')" [text]="inputText" (returnPress)="onReturn(i, 'three')" hint="add text here"></TextField>
			<Button text="c" (tap)="insertComment(i, 'three')" *ngIf="showInputs(i, 'three')"></Button>
			</StackLayout>

				</AbsoluteLayout>
			<!-- </GridLayout> -->

        <!-- </WrapLayout> -->

  <!--   </ng-template>
    	</ListView> -->
    </ng-template>
</ListView> 

<!-- <GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="_displayArray">
        <ng-template tkListItemTemplate let-item="item" let-i="index">
            <GridLayout class="listItemTemplateGrid">
                
                
                <GridLayout verticalAlignment="bottom">
                    <StackLayout class="labelsStackLayout">
                        <Label [text]="item" [color]="getCol(i)"></Label>
                        <Label class="mainText" [text]="item.title" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" *ngIf="i <= showLimit"></Label>
                        <TextField id="myAdd" autocorrect="false" autocapitalizationType="none" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add text text or comment here"></TextField>
                        <Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>

                        
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>

        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" ios:itemHeight="200" spanCount="4"></ListViewGridLayout>
    </RadListView>
   
</GridLayout> -->




<!-- <GridLayout class="page" rows="*, *">
  <GridView row="0" [items]="displayArray" colWidth="30%" rowHeight="100" orientation="vertical">
    <ng-template let-word="item" let-i="index">
      <StackLayout margin="10" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch" class="list-group-item">
        <Label verticalAlignment="center" class="mainText list-group-item-text" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)" textWrap="true"></Label>
      </StackLayout>
    </ng-template>
  </GridView>
</GridLayout> -->

<!--
<ListView [items]="displayArray" class="list-group">
    <ng-template let-word="item" let-i="index" let-odd="odd" let-even="even">
       		<GridLayout class="list-group-item">
            <Label class="mainText" [text]="word" [color]="getCol(i)" (tap)="processWord(i)" (longPress)="processSwipe(i)"></Label>
            <TextField id="myAdd" autocorrect="false" autocapitalizationType="none" col="100" *ngIf="selectedWordIndex === i" [text]="inputText" (returnPress)="onReturn(i)" hint="add text here"></TextField>
			<Button text="c" (tap)="insertComment(i)" *ngIf="selectedWordIndex === i"></Button>
        </GridLayout>
    </ng-template>
</ListView>
</WrapLayout> -->
<!-- </WrapLayout> -->



<!-- </ScrollView> -->
<!-- </StackLayout> -->

